.text-port-des,
.text-port-head {
  font-family: "Poppins";
  font-weight: 500;
}

.text-port-head {
  font-size: 28px;
}

.text-port-des {
  font-size: 18px;
}

.img-port {
  border-radius: 1.5rem;
  cursor: pointer;
  height: 237px !important;
}

@media screen and (min-width: 1280px) {
  .img-port {
    height: 288px !important;
  }
}

@media screen and (max-width: 767.5px) {
  .text-port-head {
    font-size: 24px;
  }
  .img-port {
    height: auto !important;
  }
  .text-port-des {
    font-size: 14px;
  }
}
